{{#each companies}}
    <div class="col-content sub-column-content-odd" data-group="company" id="{{id}}">

        <p>{{company_name}}</p>
        <p>{{position_title}}</p>
        <p>{{date_added}}</p>
    
    </div>
{{/each}}