<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified Materialize CSS -->
	{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> --}}
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat|Roboto|Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="./dependancies/materialize/css/materialize.min.css">
	<link rel="stylesheet" href="./css/style.css" type="text/css" />
	<title>The Hunt</title>
</head>
<body>
	{{{ body }}}
<script></script>
	<!-- jQuery external link -->
	<script src="./dependancies/jquery-3.3.1.min.js"></script>
	<!-- Materialize JS external link -->
	<script src="./dependancies/materialize/js/materialize.min.js"></script>
	<!-- JS external file link -->
	<script src="./js/clientLogic.js"></script>
</body>
</html>