{{!-- body of the main page for The Hunt Website --}} {{!-- navbar and title --}}

<div class="body-container-about">
	<div class="navbar" id="top">
		<div class="row valign-wrapper center-align">
			<div class="col s1">
				
			</div>
			<h1 class="col s10 ">
				<span class="fancy-title">The</span>
				<span class="serious-title">Hunt</span>
			</h1>
			<div class="col s1">
				<a class="btn-floating btn-large waves-effect waves-light page-options-button dropdown-trigger btn" data-target='siteOptions'>
					<i class="material-icons" id="dropDownHook">dehaze</i>
				</a>
			</div>
		</div>
	</div>

	{{!-- main about the creators section --}}
	<div class="row">
		<div class="col s12 authors-header">
			<h2>About the Creators</h2>
		</div>
	</div>


	<div class="row">
	
		<div class="col s4 center">
			<div class="card author-profile-cards">
				<div class="card-image">
					<img src="https://avatars3.githubusercontent.com/u/32418824?s=460&v=4">
				</div>
				<div class="card-action">
					<a href="https://github.com/nick-d-brown">Nick Brown - GitHub @ nick-d-brown Github</a>
				</div>
			</div>
		</div>
	
	
		<div class="col s4 center">
			<div class="card author-profile-cards">
				<div class="card-image">
					<img src="https://avatars1.githubusercontent.com/u/31215160?s=460&v=4">
				</div>
				<div class="card-action">
					<a href="https://github.com/ToneyK">Toney Keysaw - GitHub @ ToneyC137 Github</a>
				</div>
			</div>
		</div>
	
	
		<div class="col s4 center">
			<div class="card author-profile-cards">
				<div class="card-image">
					<img src="https://avatars0.githubusercontent.com/u/9326511?s=460&v=4">
				</div>
				<div class="card-action">
					<a href="https://github.com/Morinventiv">Brandon Morin - GitHub @ Morinventiv Github</a>
				</div>
			</div>
		</div>
	</div>

<footer>
	<p class="col s12 center">NBTLLC |
		<a href="https://github.com/NBTLLC/TheHunt">Github Repo</a>
	</p>
</footer>

<!-- Dropdown Structure -->
<ul id='siteOptions' class='dropdown-content'>
	<li class="divider" tabindex="-1"></li>
	<li>
		<a href="/" class="center page-nav-buttons">Home
			<i class="material-icons page-nav-icons">blur_linear</i>
		</a>

	</li>
	<li class="divider" tabindex="-1"></li>
	<li>
		<a href="/about" class="center page-nav-buttons">about
			<i class="material-icons page-nav-icons">account_circle</i>
		</a>

	</li>
	<li class="divider" tabindex="-1"></li>
</ul>