<div class="container red" id="top">
    <div class="row">
        <div class="col s1">add new</div>
        <h1 class="col s1">The Hunt!</h1>
        <div class="col s1">
            <i class="mail_outline">add</i>
        </div>
    </div>
</div>
<div id="background">
    <div class="row">
        <div>Think</div>
        <div>Plan</div>
        <div>Execute</div>
    </div>

    <div id="headers">
        <div class="row">
            <div id="column 1">
                <div>Interested</div>
                <div>Applied</div>
            </div>
            <div id="column 2">
                <div>Phone</div>
                <div>In Person</div>
            </div>
            <div id="column 3">
                <div>Offer</div>
                <div>Rejection</div>
            </div>
        </div>
    </div>
</div>
<main>

    <ul id="handleBarsHTML">
        <!-- example of s -->
        <ul>
            {{#each jobs}}
            <li>
                <p>
                    <span class="label">ID:</span> {{this.id}}</p>
                <p>
                    <span class="label">Company Name:</span> {{this.companyNamp}}</p>
                <p>
                    <span class="label">Hiring Manager:</span> {{this.hiringManager}}</p>
            </li>
            {{/each}}
        </ul>
    </ul>

</main>