 /* CSS styling for The Hunt Website */

/* imported font families */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Great Vibes', cursive; */

/* CSS Variables */
/* NOTE: IF COLOR PALETTE FOR PAGE NEEDS TO CHANGE, CHANGE IT HERE */

/* To reference in css use syntax ->  var(--whatever-the-root-colorname-is)*/

:root {
  --primary-color-1:#C3073F;
  --accent-color-1:#950740;
  --primary-color-2:#6F2232;
  --accent-color-2:#0C0032;
  --primary-color-3:rgb(89, 89, 91);
  --white: #FFFFFF; 
  --black: #00000F;
  --background: #00000F;
  --medium-purple: #779ED2;
  --fire-brick: #A13D1E;
  --rosy-brown: #BBAA90;
  --dark-slate-blue: #36466C;
  --steel-blue: #5170A2;

} 

/* Main HTML css changes */
body {
    background-image: url(https://images.unsplash.com/photo-1486607303850-bc051a4ffad4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e653d397d2d335009978a8573613ce1d&auto=format&fit=crop&w=1953&q=80);
    /*  Photo Credit: Alex Shutin - https://unsplash.com/@fiveamstories */
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    background-color: var(--white);
} 

/* =============Home Page============= */

/* Title styles */

.fancy-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.serious-title {
    font-family: 'Anton', sans-serif;
    font-size: 1.4em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* NavBar */

.navbar {
    /* background-color: var(--primary-color-1); */
    background-color: var(--white);
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.57);
}

.add-company-button {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Anton', sans-serif;
    padding: 0 15px;
}
.add-company-button:hover {
   background-color: var(--primary-color-3);
}
.page-options-button {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Anton', sans-serif;
    padding: 0 15px;
}
.page-options-button:hover {
    background-color: var(--primary-color-3);
}

/* job board */

.board-container{
    width: 95%;
    margin: 0 auto;
}

/*  3 main column headers  */

.main-column-header {
    color: var(--white);
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.main-column-section {
    border-radius: 10px;
}


/*  6 sub column headers  */

.sub-column-content {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--dark-slate-blue);
    color: var(--white);
    border-radius: 10px;
    box-shadow:7px 6px 5px 0px rgba(0,0,0,0.75);
}
.sub-column-content-odd {
    margin-top: 5px;
    padding: 5px;
    text-align: center;

    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    box-shadow:7px 6px 5px 0px rgba(0,0,0,0.75);
}
.sub-column-content-even {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--primary-color-2);
    color: var(--white);
    border-radius: 10px;
    box-shadow:7px 6px 5px 0px rgba(0,0,0,0.75);
}

.sub-column-content-empty {
	margin-top: 0px;
	padding: 0px;
	height: 135px;
	text-align: center;
	color: var(--white);
	border-radius: 10px;
}

/* spacing for the drag and drop functionality */
/* this changes the available space to drop company cards into */
.dragDrop {
	min-height: 200px;
	padding-bottom: 200px;
}

/* Modal edit and delete buttons */
.edit {
	position: relative;
  top: 10px;
  left: -30%;
  cursor: pointer;
}
.clear {
	position: relative;
  top: 12px;
  right: -30%;
  cursor: pointer;
}

/*  Mondal form styling */
#deleteConfirm{
    background-color: red;
    color: var(--white);
}

#deleteDeny {
      background-color: grey;
    color: var(--white);
}

.modal {
    border-radius: 5px;
    border: 1px solid var(--black);
    background-color: var(--dark-slate-blue);
    color: var(--white);
    font-size: 1.12rem;
}
.modal input{
    color: var(--white);
}

.modal form .modal-footer-button {
    color: var(--black);
}

.input-field>label {
    color: var(--white);
    font-size: 1.1rem;
}

form .waves-input-wrapper{
    width: 100%;
}

.waves-effect input[type='submit'] {
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 100%;
}
.waves-effect input[type='submit']:hover {
  cursor:  pointer;
}

/*   DropDown Page Nav */

.dropdown-content li .page-nav-buttons {
    color: var(--dark-slate-blue);
    font-family: 'Montserrat', sans-serif;
}

.page-nav-icons {
    color: var(--dark-slate-blue);
    padding: 0 24px;
}

/* =============About Page============= */
/* Uses the home page as a style template */

.authors-header {
    text-align: center;
    color: var(--white);
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

.body-container-about {
    background-color: var(--black);

    height: 100%;
}

.author-profile-cards {
    margin: 0 auto;
    max-width: 500px;
}

.card .card-image .card-title {
    color: var(--black);
}